<img class="logo" src="assets/logo.svg" />
<div class="title-and-separator">
    <img class="title" src="assets/title.svg" />
    <div class="separator">
        <img class="separator-img" src="assets/separator.svg" />
        <img class="hukziu" src="assets/hukziu.svg" />
    </div>
</div>

<div class="instructions">
    <img
        class="envelope-bottom"
        imgPreSize
        [height]="1097"
        [width]="1080"
        src="assets/envelope_bottom.webp"
    />
    <div class="instruction-box">
        <div class="heading">考试须知</div>
        <div class="details">
            <ol>
                <li>考试时建议交头接耳</li>
                <li>
                    所有考试考生将自动加入抽奖池，抽奖结果将于X月X日在公众号“真鸟囝福州话学堂”中公布，中奖用户需提供考试成绩单进行兑奖
                </li>
                <li>考试答案和解析也将同期在公众号公布</li>
            </ol>
            <div class="notes">* 本活动最终解释权归真鸟囝所有</div>
        </div>
    </div>
    <img
        class="envelope-top"
        src="assets/envelope_top.webp"
        imgPreSize
        [height]="700"
        [width]="1080"
    />
    <div class="eraser-container">
        <img class="eraser" src="assets/eraser.png" />
    </div>
    <div class="btn-container bouncy" (click)="onTriggerEnter()">
        <img class="btn-enter" src="assets/btn_enter.svg" />
    </div>
</div>
